@charset "UTF-8";
/*
em HTML é id = em CSS #
tudo em HTML é CLASS em CSS é .
*/

body{
background-color: #a367c6;
font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color:aliceblue
}
#principal{
    text-align: center;
    background-color: darkgray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    padding: 10px;
    margin: 10px;
}
h2{
    color:  #1a151d;
}
.Basico{
color: crimson;
}
.Intermediario{
color:aqua ;
}
.Avançado{
color: chartreuse;
}
.destaque{
    background-color: darkgray;
    
}
